body {
    font-family: 'Roboto', sans-serif;
}

.app {
    max-width: 1000px;
    margin: 50px auto;
}

.list {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: box-shadow .3s ease-in-out;
}

.card:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
}

.card.marked {
    border: 2px solid crimson;
}

.card.match {

}

.card-img {
    display: flex;
    align-items: center;
    height: 150px;
}

.card img {
    width: 100%;
}